body {
  font-family: monospace;
}
td.timestamp-cell {
  white-space: nowrap;
}
td.log-body-cell {
  max-width: 95vw;
  min-width: 300px;
  overflow-wrap: anywhere;
  position: relative;
}
tr.border-bottom-bold td {
  border-bottom-width: 12px;
  border-bottom-style: double;
}
tr.borderless-bottom td {
  border-bottom: none;
}

.request-bar {
  position: absolute;
  padding: 0;
  margin: 0;
  border-left: 2px solid rgba(62, 142, 208, 0.3);
  top: 0;
  left: 0;
}

.expandable-json-outer {
  position: relative;
}

pre.expandable-json {
  font-size: 1em;
}

.expandable-json-expansion-button {
  position: absolute;
  top: 4px;
  left: 8px;
}

.expandable-json-copy-button {
  position: absolute;
  top: 4px;
  left: calc(8px + 1.5em);
}

.log-view-toolbox {
  position: sticky;
  top: 0;
  background:rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.tag {
  font-weight: bold;
}

.max-width-3em {
  max-width: 3em;
}

.opacity-0 {
  opacity: 0;
}

.opacity-half {
  opacity: 0.6;
}

.inline-block {
  display: inline-block;
}

.border-none {
  border: none;
}
